<div class="calendar-header">
  <!-- Calendar Header -->
  <!-- Each header should contain two css class
            1. week
            2. mat-h3 -->
  <div class="week mat-h3" *ngFor="let day of weekDays">{{ day }}</div>
</div>

<div class="calendar-body" *ngIf="dateObj.length > 0">
  <!-- Create a calendar grid -->
  <!-- The grid should contain 6 rows and 7 columns -->
  <div class="tr-row" *ngFor="let week of dateObj">
    <div
      class="td-month"
      *ngFor="let day of week"
      [ngClass]="{
        tdEnabled: day.enabled,
        tdDisabled: !day.enabled,
        tdSelected: day.date === selectedDate
      }"
      (click)="sendSelectedDate(day.date)"
    >
      <!-- Display the date -->
      <div class="mat-h1">{{ day.date.slice(0, 2) }}</div>

      <!-- Display the holiday name if available -->
      <div
        class="mat-h3 holidayBox"
        *ngIf="responseDateObjs.has(day.date) && responseDateObjs.get(day.date).holidayName"
        [ngClass]="{
          holidayBoxSelected: day.date === selectedDate,
          holidayBoxUnSelected: day.date !== selectedDate
        }"
      >
        {{ responseDateObjs.get(day.date).holidayName }}
      </div>
    </div>
  </div>
</div>
