<div style="width: 100%;">
  <div class="mat-h1" style="text-align: center;">
    <span> Holiday editor</span>
    <br> {{selectedDate}}
  </div>

  <mat-card class="editorCard" *ngIf="editorFlag">
    <form [formGroup]="holidayEditor">
      <mat-card-content>

        <mat-form-field appearance="outline" [style.fontSize.px]="15">

          <mat-label>Holiday Name</mat-label>
          <input matInput id="holidayName" formControlName="holidayName">
          <!-- Display error message here -->
          <mat-error *ngIf="holidayEditor.controls['holidayName'].invalid && holidayEditor.controls['holidayName'].touched">
            <span *ngIf="holidayEditor.controls['holidayName'].errors?.required">Enter HolidayName</span>
            <span *ngIf="holidayEditor.controls['holidayName'].errors?.pattern">Holiday name should contain only alphabets</span>
          </mat-error>

        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="styleActionButton">
        <!-- Display Add button if it's a new entry. -->
        <button class="btnWidth" mat-flat-button color="primary" 
        *ngIf="!holidayObj.id"
        [disabled]="!holidayEditor.valid" (click)="addHoliday()">Add</button>

        <!-- Display Save button if holiday exists -->
        <button class="btnWidth" mat-flat-button color="primary" 
        *ngIf="holidayObj.id"
        [disabled]="!holidayEditor.valid" (click)="updateHoliday()">Save</button>

        <!-- Display Remove button if holiday exists -->
        <button class="btnWidth" mat-stroked-button color="accent" 
        *ngIf="holidayObj.id" (click)="removeHoliday()">Remove</button>

      </mat-card-actions>
    </form>
  </mat-card>
</div>
